.ant-btn-lg{
    background-color: rgb(131, 128, 128);
}

.ant-input-affix-wrapper-lg{
    padding: 1px 12px;
    border-radius: 10px;
}

.ant-input-search-button{
    height: 2em !important;
}

.anticon-search > svg{
    background-color: rgb(131, 128, 128)!important;
}

.ant-input-suffix{
    background: transparent;
}