@import "../node_modules/css-reset-and-normalize/css/reset-and-normalize.min.css";

* {
  background-color: #E0E0DE;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}